@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body {
  --text: #040e16;
  --background: #f6fbfe;
  --primary: #2b82da;
  --secondary: #939ceb;
  --accent: #6a5fe3;
}

body.dark {
  --text: #e9f3fb;
  --background: #010609;
  --primary: #257dd4;
  --secondary: #141d6c;
  --accent: #271ca0;
}

body {
  background-color: var(--background);
  font-family: "Noto Sans Thai";
  margin: 2rem;
}
