@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-background: #ebebeb;
  --color-primary: #21368c;
  --color-secondary: #4aaebe;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #030b19;
    --color-primary: #d4d6dc;
    --color-secondary: #1e7583;
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-primary);
  font-family: "Noto Sans Thai";
  margin: 2rem;
}

.card {
  height: 25vh;
  width: 300px;
  background-color: var(--color-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

.header {
  color: var(--color-primary);
}
